In [ ]:
continuation with list datatype :

In [ ]:
organising the list datatype :

In [1]:
cars =['mariti','kia','benz','suzuki','audi','toyota','bmw']

In [2]:
print(cars)

['mariti', 'kia', 'benz', 'suzuki', 'audi', 'toyota', 'bmw']

In [3]:
type(cars)

list

In [ ]:
# req : i want to organise the list in the alphbetical order.....A - Z

In [ ]:
There are two approaches :
    1. temp approach =====>Sorted ==>we will be having the original order of the list created.
    2.permanent approach====>changes are implied permanently.

In [4]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'kia', 'mariti', 'suzuki', 'toyota']

In [ ]:
# Audi, Benz, BMW....

In [5]:
print(cars)  # original order...

['mariti', 'kia', 'benz', 'suzuki', 'audi', 'toyota', 'bmw']

In [6]:
cars.sort()

In [7]:
print(cars)   #A-Z

['audi', 'benz', 'bmw', 'kia', 'mariti', 'suzuki', 'toyota']

In [ ]:
benz and bmw ====>b,b e, m

In [ ]:
Interview_question :what is the diff btw sorted and sort methods in list ...?

In [ ]:
# i want to print the list in the reverse order===>A - Z ======>Z---> A

In [8]:
cars.reverse()

In [9]:
print(cars)  # T, S ,M, K , B ,b, A

['toyota', 'suzuki', 'mariti', 'kia', 'bmw', 'benz', 'audi']

In [ ]:
#i want to know the total count of elements

In [10]:
print(cars)

['toyota', 'suzuki', 'mariti', 'kia', 'bmw', 'benz', 'audi']

In [11]:
len(cars)

7

In [ ]:
introduction to slicing :

In [ ]:
#general syntax of slicing :
(star_value:stop_count)

Note : stop_value will be always excusilve, to include we have to increament the index the by +1

In [12]:
students =['diksha','sonam','navven','pradeep','abdul','nahid','afsha','mushkan']

In [13]:
print(students)

['diksha', 'sonam', 'navven', 'pradeep', 'abdul', 'nahid', 'afsha', 'mushkan']

In [14]:
print(students[0:1])

['diksha']

In [15]:
print(students[0:2])

['diksha', 'sonam']

In [16]:
print(students[0:5])

['diksha', 'sonam', 'navven', 'pradeep', 'abdul']

In [17]:
print(students[2:4])

['navven', 'pradeep']

In [ ]:
# i want to print only diksha,naveen, abdul, afsha

In [18]:
print(students[0:9:2])

['diksha', 'navven', 'abdul', 'afsha']

In [19]:
print(students[0:9:3])

['diksha', 'pradeep', 'afsha']